body {
    margin-top: 70px;
    padding: 0;
    text-align: center;
    background: #222;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    

}

.top{
    background: #6943FF;
    width: 550px;
    height: 285px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
}

button{
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;  
    background: #FFFFFF;    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    margin: 10px;
}

input{
    margin: 15px 0px;
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    padding: 10px;
    color: #FFFFFF;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-sizing: border-box;
    background: #1f2937;
    width: 550px;
    height: 445px;
    left: 672px;
    top: 125px;
    margin: 0 auto ;
    padding: 0;
}

h1{
    margin:0;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;    
    height: 38px;
    top: 33px;
    text-align: center;
}
h3{
    color: #CCC1FF;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    
}

.groupOne{
    padding:40px 20px 0px 20px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border: 1px none #273549;
    width: 500px;
    left: 25px;
    margin:0 auto;
    box-sizing: border-box;
    
}

.groupTwo{
    padding:40px 20px 0px 20px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border: 1px none #273549;
    width: 500px;
    left: 25px;
    margin:0 auto;
    box-sizing: border-box;
}

.groupThree{
    padding:40px 20px 0px 20px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border: 1px none #273549;
    width: 500px;
    left: 25px; 
    margin:0 auto;
    box-sizing: border-box;
}
p{
    width: 471.92px;
    height: 33.68px;
    left: 14.04px;
    top: 60.85px ; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}